<form class="example-form" [formGroup]="addTeamForm" (ngSubmit)="addTeam()" style="height: auto;">              
    <mat-card style="width: 500px; height: auto;">
        <button color="primary" mat-raised-button onClick="document.location.reload(true)" [disabled]="addTeamForm.invalid">
            ADD TEAM
        </button>
        <br><br>
        <span style="color: red;" *ngIf="teamName && teamName.invalid && teamName.touched">Can't be empty!</span>  
        <mat-form-field style="width: 100%; float:right;" class="example-full-width" appearance="fill">
            <mat-label>TEAM NAME :</mat-label>

                <input type="text" matInput placeholder="Team Name" formControlName="teamName">
        </mat-form-field>
        <br>

        <p>ADD TEAMMATES:</p>
        <div *ngFor="let teammates of _userTeamList" >
            <input type="checkbox" name="{{teammates.email}}" 
            [value]="teammates.email" 
            (change)="getEmail($event,teammates.email)">&nbsp;&nbsp;{{teammates.email}}
        </div>
        <br>
         
     </mat-card>
     </form>
