<div class="kanban" style="height:700px;">
  <div align="middle">
    <br>
    <div align="middle" style="width:200px;border: 3px; background-color: rgb(255, 255, 255);">
      <button mat-menu-item (click)="openAddTeamDialogue()" ><div align="middle"><mat-icon>add_circle</mat-icon>ADD NEW TEAM</div></button>
    </div>
    <mat-form-field appearance="fill" style="padding-top: 20px; ">
      <mat-label>SELECT TEAM</mat-label>
        <mat-select>
          <mat-option  *ngFor="let team of _userTeamList" [value]="team.teamName">
            <button mat-menu-item (click)="getTeam(team.teamName)" (click)="HideMethod()"><div align="middle">
              {{team.teamName}}
            </div></button>
          </mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  <div class="container" align="middle" id="userDiv" style="display:none;width: 30%;">
    <div class="login-wrapper"  fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
          <button (click)="openAddTeammateDialogue()" mat-raised-button color="primary">ADD TEAMMATE</button>
          <!-- <button (click)="HideMethodDiv()" mat-raised-button color="primary">ADD TEAMMATE</button> -->
          <br>
          <br>
          <!-- <div align="middle" id="userDivDiv" style="display:none;">
            <div class="task" *ngFor="let teammate of _availableUserList" style="width: 100%;">
              <button (click)="addTeammate(teammate.email)"
                style="width: 5px; height: 30px; font-size: 1px;" color="primary" mat-raised-button>
                <mat-icon style="height: 30px;">add</mat-icon>
              </button> &nbsp;&nbsp;&nbsp;
              <b>{{teammate.email}}</b>
            </div>
          </div> -->
          <mat-card-content>
            <div class="task" *ngFor="let teammate of _teamUserList">
              <button style="width: 5px; height: 30px; font-size: 1px;"  (click)="deleteTeammate(teammate.email)"
                mat-raised-button>
                <mat-icon style="height: 30px;">delete</mat-icon>
              </button> &nbsp;&nbsp;&nbsp;
              <mat-icon>person</mat-icon>&nbsp;&nbsp;&nbsp;
              <b>{{teammate.email}}</b>
            </div>
          </mat-card-content>
          
        </mat-card>
    </div>
    <br>
    <div align="middle">
      <button (click)="openInviteDialogue()" mat-raised-button color="primary">INVITE</button>
    </div>
  </div>
</div>